@import '../popup/popup.scss';
.jdtaro-popover {
  position: fixed;
  display: inline-block;
  word-break: normal;
  z-index: 1000;

  // 用于定位元素，不显示
  width: 1px;
  height: 1px;
  background-color: transparent;

  &-arrow {
    position: absolute;
    width: 8px;
    height: 4px;

    .nut-icon-ArrowRadius {
      position: absolute;
      color: $popover-content-background-color;
    }

    &-top {
      bottom: -4px;
    }

    &-bottom {
      top: -4px;
    }

    &-left {
      right: -10px;
      transform-origin: center top;
      top: 50%;
      transform: rotate(90deg) translateY(-50%);

      &.jdtaro-popover-arrow-left-top {
        top: 16px;
        transform: rotate(90deg) translateY(-50%);
      }

      &.jdtaro-popover-arrow-left-bottom {
        top: auto;
        bottom: 16px;
        transform: rotate(90deg) translateY(-50%);
      }
    }

    &-right {
      transform-origin: center top;
      left: -4px;
      top: 50%;
      transform: rotate(-90deg) translateX(-50%);

      &.jdtaro-popover-arrow-right-top {
        top: 16px;
        transform: rotate(-90deg) translateY(0%);
      }

      &.jdtaro-popover-arrow-right-bottom {
        bottom: 16px;
        transform: rotate(-90deg) translateY(0%);
      }
    }
  }

  .jdtaro-popover-content {
    position: absolute;
    // background: $popover-content-background-color;
    border-radius: $popover-border-radius;
    // font-size: $popover-font-size;
    color: $popover-text-color;
    line-height: 28px;
    max-height: initial;
    overflow-y: initial;
    min-height: 0;
    background-color: transparent;

    &-group {
      position: relative;
      padding: 8px $popover-padding;
      border-radius: $popover-border-radius;

      &-dark {
        background: rgba(0, 0, 0, 0.7);
      }

      &-light {
        background: rgba(255, 255, 255, 1);
      }
    }

    .jdtaro-popover-item {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid $popover-divider-color;
      // max-width: $popover-item-width;
      word-wrap: break-word;

      &:last-child {
        margin-bottom: 0px;
        border-bottom: none;
      }

      &-icon,
      &-action-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $font-size-s;
        height: $font-size-s;
        font-size: $font-size-s;
        .nut-icon {
          width: $font-size-s;
          height: $font-size-s;
          font-size: $font-size-s;
        }
      }

      &-icon {
        margin-right: $spacing-xxs;
      }

      &-name {
        font-size: $popover-font-size;
        font-weight: 400;
        width: calc(100% - 34px);
        word-break: keep-all;
        flex: 1;
      }

      &-action-icon {
        color: $color-text;
        margin-left: $spacing-base;
      }

      &.jdtaro-popover-item-disabled {
        color: $popover-disable-color;
        cursor: not-allowed;
      }

      &.jdtaro-popover-taroitem {
        display: flex;
      }
    }

    &-top {
      .jdtaro-popover-arrow-top {
        left: 50%;
        transform: translateX(-50%) rotate(180deg);
      }
    }

    &-top-right {
      right: 0;
      .jdtaro-popover-arrow-top-right {
        right: 16px;
        transform: rotate(180deg) translateX(0%);
      }
    }

    &-top-left {
      left: 0;
      .jdtaro-popover-arrow-top-left {
        left: 16px;
        transform: rotate(180deg) translateX(0%);
      }
    }

    &-bottom {
      .jdtaro-popover-arrow-bottom {
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &-bottom-right {
      right: 0;
      .jdtaro-popover-arrow-bottom-right {
        right: 16px;
        transform: translateX(0%);
      }
    }

    &-bottom-left {
      left: 0;
      .jdtaro-popover-arrow-bottom-left {
        left: 16px;
        transform: translateX(0%);
      }
    }

    &-left-bottom {
      bottom: 0;
    }

    &-left-top {
      top: 0;
    }

    &-right-bottom {
      bottom: 0;
    }

    &-right-top {
      top: 0;
    }
  }
}

.jdtaro-popover-dark {
  color: $popover-content-background-color;
  background: transparent;

  .jdtaro-popover-arrow {
    .nut-icon-ArrowRadius {
      color: $popover-text-color;
    }
  }

  .jdtaro-popover-content {
    // background: $popover-text-color !important;
    color: $popover-content-background-color !important;
    .jdtaro-popover-item {
      &-action-icon {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

[dir='rtl'] .jdtaro-popover,
.nut-rtl .jdtaro-popover {
  .jdtaro-popover-content {
    .jdtaro-popover-item {
      &-name {
        margin-left: 0;
        margin-right: 4px;
      }

      &-action-icon {
        right: auto;
      }
    }
    &-top {
      .jdtaro-popover-arrow-top {
        left: auto;
        right: 50%;
        transform: translateX(50%);
      }
    }
    &-top-right {
      right: auto;
      left: 0;

      .jdtaro-popover-arrow-top-right {
        right: auto;
        left: 16px;
      }
    }

    &-top-left {
      left: auto;
      right: 0;

      .jdtaro-popover-arrow-top-left {
        left: auto;
        right: 16px;
      }
    }

    &-bottom {
      .jdtaro-popover-arrow-bottom {
        left: auto;
        right: 50%;
        transform: translateX(50%);
      }
    }
    &-bottom-right {
      right: auto;

      left: 0;

      .jdtaro-popover-arrow-bottom-right {
        right: auto;
        left: 16px;
      }
    }

    &-bottom-left {
      left: auto;
      right: 0;

      .jdtaro-popover-arrow-bottom-left {
        left: auto;
        right: 16px;
      }
    }
  }
}

.jdtaro-popover-enter-from,
.jdtaro-popover-leave-active {
  transform: scale(0.8);
  opacity: 0;
}

.jdtaro-popover-enter-active {
  transition-timing-function: ease-out;
}

.jdtaro-popover-leave-active {
  transition-timing-function: ease-in;
}

.jdtaro-popover-content-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 999;
}

[dir='rtl'] .jdtaro-popover-content-bg,
.nut-rtl .jdtaro-popover-content-bg {
  left: auto;
  right: 0;
}

.jdtaro-popover-wrapper {
  display: inline-block;
}

// Taro
.jdtrao-content-copy {
  position: absolute;
  top: -99999px;
}

// 用于定位元素，不显示
.jdtaro-popover-calculate {
  z-index: -999;
  position: fixed;
  display: inline-block;
  word-break: normal;
  width: 1px;
  height: 1px;
  background-color: transparent;
  bottom: 0;
  right: 0;

  &-content-group {
    position: relative;
    padding: 8px $popover-padding;
    border-radius: $popover-border-radius;
    transform: translateX(100%) translateY(100%);
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
